__pycache__/
*.pyc
temp/
peer_*.log
peer.log
.idea/
.vscode/

# Ignorar arquivos temporarios de dados e testes
test_results.json
*.meta

# Ignorar TODOS os PDFs (enunciados e relatorio compilado)
*.pdf

# Ignorar todos os arquivos auxiliares de compilacao LaTeX do Overleaf/Local
*.aux
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
relatorio_tp2.tex
